@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&display=swap');

/* Default Theme Variables */
:root {
    --background-color: #343a40;
    --color: #ffffff;

    --button-background-color: #ffffff;
    --button-hover-background-color: #cdcdcd;
    --button-color: #000000;

    --button-leave-background-color: #ff4c4c;
    --button-leave-hover-background-color: #e63c3c;
    --button-leave-color: #ffffff;

    --secondary-background-color: #2d3237;

    --progress-value-background-color: #4caf50;
}

[data-theme="default-dark"] {
    --background-color: #1e1e1e;
    --background-image: none;
    --color: #f5f5f5;

    --button-background-color: #3a3f44;
    --button-hover-background-color: #50565c;
    --button-color: #ffffff;

    --button-leave-background-color: #ff4c4c;
    --button-leave-hover-background-color: #e63c3c;
    --button-leave-color: #ffffff;

    --secondary-background-color: #292d32;

    --progress-value-background-color: #4caf50;
}

[data-theme="default-light"] {
    --background-color: #f9f9f9;
    --background-image: none;
    --color: #202124;

    --button-background-color: #d2dadc;
    --button-hover-background-color: #c5cece;
    --button-color: #000000;

    --button-leave-background-color: #ff4c4c;
    --button-leave-hover-background-color: #e63c3c;
    --button-leave-color: #ffffff;

    --secondary-background-color: #f2f4f8;

    --progress-value-background-color: #4caf50;
}

[data-theme="blue-dark"] {
    --background-color: #1a1d26;
    --background-image: none;
    --color: #e0e7ff;

    --button-background-color: #4c5c7f;
    --button-hover-background-color: #3e4b69;
    --button-color: #ffffff;

    --button-leave-background-color: #ff4c4c;
    --button-leave-hover-background-color: #e63c3c;
    --button-leave-color: #ffffff;

    --secondary-background-color: #2d364b;

    --progress-value-background-color: #4f83cc;
}

[data-theme="blue-light"] {
    --background-color: #e0f1ff;
    --background-image: none;
    --color: #1a1d26;

    --button-background-color: #c1d9ff;
    --button-hover-background-color: #a6c8ff;

    --button-leave-background-color: #ff4c4c;
    --button-leave-hover-background-color: #e63c3c;
    --button-leave-color: #ffffff;

    --secondary-background-color: #c8e0ff;

    --progress-value-background-color: #4f83cc;
}

[data-theme="coffee"] {
    --background-color: #47372a;
    --background-image: none;
    --color: #f5e1a4;

    --button-background-color: #d1a56d;
    --button-hover-background-color: #a67c39;
    --button-color: #ffffff;

    --button-leave-background-color: #e76f51;
    --button-leave-hover-background-color: #f4a261;
    --button-leave-color: #ffffff;

    --secondary-background-color: #4a2c2a;

    --progress-value-background-color: #9a703d;
}

[data-theme="code"] {
    --background-color: #1e1e1e;
    --background-image: none;
    --color: #00ff00;

    --button-background-color: #333333;
    --button-hover-background-color: #4d4d4d;
    --button-color: #00ff00;

    --button-leave-background-color: #ff4c4c;
    --button-leave-hover-background-color: #e63c3c;
    --button-leave-color: #ffffff;

    --secondary-background-color: #2c2c2c;

    --progress-value-background-color: #33ff33;
}

[data-theme="ocean"] {
    --background-color: #2e8b57;
    --background-image: none;
    --color: #ffffff;

    --button-background-color: #4682b4;
    --button-hover-background-color: #5f9ea0;
    --button-color: #ffffff;

    --button-leave-background-color: #ff4500;
    --button-leave-hover-background-color: #e60000;
    --button-leave-color: #ffffff;

    --secondary-background-color: #20b2aa;

    --progress-value-background-color: #3cb371;
}

[data-theme="sunset"] {
    --background-color: #ff6347;
    --background-image: none;
    --color: #ffffff;

    --button-background-color: #ff4500;
    --button-hover-background-color: #e03e00;
    --button-color: #ffffff;

    --button-leave-background-color: #8a2be2;
    --button-leave-hover-background-color: #7a1bb3;
    --button-leave-color: #ffffff;

    --secondary-background-color: #ff8c00;

    --progress-value-background-color: #ff1493;
}

[data-theme="space"] {
    --background-color: #000000;
    --background-image: url("https://external-preview.redd.it/X8sbOfKSqHJQmKt6wuzGGtCrV2ADHcgRNn3RWDFMfOQ.jpg?auto=webp&s=36936660b169ae53609b55c026b058ab1b22f2d7");
    --color: #ffffff;

    --button-background-color: #4b0082; /* Indigo */
    --button-hover-background-color: #800080; /* Purple */
    --button-color: #ffffff;

    --button-leave-background-color: #ff1493; /* Deep Pink */
    --button-leave-hover-background-color: #e60073;
    --button-leave-color: #ffffff;

    --secondary-background-color: #000000; /* Space Black */

    --progress-value-background-color: #c0c0c0; /* Silver */
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--color);
}

body { 
    background-color: var(--background-color); 
    padding: 50px 0;
}

body.loaded * { transition: color 0.2s, background-color 0.2s; }

p, h1, h2, h3, h4, h5, h6 { font-size: 14px; }

.oversized { font-weight: bold; font-size: 40px; }

.title { font-weight: bold; font-size: 26px; }

.subtitle { font-size: 15px; font-style: italic; }

.heading-1 { font-size: 20px; }

.heading-2 { font-size: 16px; }

.heading-3 { font-size: 14px; }

input {
    display: block;
    border: none;
    border-radius: 1em;
    padding: 1em;
}

progress {
    width: 100%;
    height: 20px;
    appearance: none;
    overflow: hidden;
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    background-color: var(--secondary-background-color);
}

progress::-webkit-progress-value {
    border-radius: 10px;
    background-color: var(--progress-value-background-color);
}

progress::-moz-progress-bar {
    background-color: var(--progress-value-background-color);
    border-radius: 10px;
}

button, select {
    padding: 1em;
    border: none;
    border-radius: 4px;
    background-color: var(--button-background-color);
    color: var(--button-color);
}
button:hover { 
    cursor: pointer; 
    background-color: var(--button-hover-background-color); 
}

option { 
    color: var(--button-color); 
}

.leave { 
    background-color: var(--button-leave-background-color); 
    color: var(--button-leave-color); 
}
.leave:hover { 
    background-color: var(--button-leave-hover-background-color); 
}

.settings { 
    background: none; 
}
.settings:hover { 
    background: none; 
}

.header, .footer {
    position: fixed;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 1000;
    background-color: var(--secondary-background-color);
}

.header { top: 0; }
.footer { bottom: 0; }

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.content { width: calc(100vw - 50px); }

.options, .period, .schedule {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: none;
}

.period {
    background-color: none;
    margin: auto;
    width: fit-content;
}

.schedule {
    background-color: var(--secondary-background-color);
    margin-top: 20px;
}