@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&display=swap');

/* Default Theme Variables */
:root {
    --background-color: #343a40;
    --color: #ffffff;

    --button-background-color: #ffffff;
    --button-hover-background-color: #cdcdcd;
    --button-color: #000000;

    --button-leave-color: #ffffff;

    --secondary-background-color: #2d3237;
}

[data-theme="default-dark"] {
    --background-color: #1e1e1e;
    --color: #f5f5f5;

    --button-background-color: #3a3f44;
    --button-hover-background-color: #50565c;
    --button-color: #ffffff;

    --button-leave-background-color: #ff4c4c;
    --button-leave-hover-background-color: #e63c3c;
    --button-leave-color: #ffffff;

    --secondary-background-color: #292d32;
}

[data-theme="default-light"] {
    --background-color: #f9f9f9;
    --color: #202124;

    --button-background-color: #d2dadc;
    --button-hover-background-color: #c5cece;
    --button-color: #000000;

    --button-leave-background-color: #ff4c4c;
    --button-leave-hover-background-color: #e63c3c;
    --button-leave-color: #ffffff;

    --secondary-background-color: #f2f4f8;
}

[data-theme="blue-dark"] {
    --background-color: #1a1d26;
    --color: #e0e7ff;

    --button-background-color: #4c5c7f;
    --button-hover-background-color: #3e4b69;
    --button-color: #ffffff;

    --button-leave-background-color: #ff4c4c;
    --button-leave-hover-background-color: #e63c3c;
    --button-leave-color: #ffffff;

    --secondary-background-color: #2d364b;
}

[data-theme="blue-light"] {
    --background-color: #e0f1ff;
    --color: #1a1d26;

    --button-background-color: #c1d9ff;
    --button-hover-background-color: #a6c8ff;

    --button-leave-background-color: #ff4c4c;
    --button-leave-hover-background-color: #e63c3c;
    --button-leave-color: #ffffff;

    --secondary-background-color: #c8e0ff;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--color);
}

body { background-color: var(--background-color); padding: 50px 0; }

body.loaded * { transition: color 0.2s, background-color 0.2s; }

p, h1, h2, h3, h4, h5, h6 { font-size: 14px; }

.oversized { font-weight: bold; font-size: 40px; }

.title { font-weight: bold; font-size: 26px; }

.subtitle { font-size: 15px; font-style: italic; }

.heading-1 { font-size: 20px; }

.heading-2 { font-size: 16px; }

.heading-3 { font-size: 14px; }

input {
    display: block;
    border: none;
    border-radius: 1em;
    padding: 1em;
}

button, select {
    padding: 1em;
    border: none;
    border-radius: 4px;
    background-color: var(--button-background-color);
    color: var(--button-color);
}

option { color: var(--button-color); }

button:hover { cursor: pointer; background-color: var(--button-hover-background-color); }

.leave { background-color: var(--button-leave-background-color); color: var(--button-leave-color); }

.leave:hover { background-color: var(--button-leave-hover-background-color); }

.settings { background: none; }
.settings:hover { background: none; }

.header, .footer {
    position: fixed;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 1000;
    background-color: var(--secondary-background-color);
}

.header { top: 0; }
.footer { bottom: 0; }

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 50px 0;
}

.content {
    width: calc(100vw - 100px);
    max-width: 1200px;
}

.options, .period, .schedule {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

/* Period Section */
.period {
    background-color: var(--secondary-background-color);
    margin-bottom: 20px;
}

/* Schedule Section */
.schedule {
    background-color: var(--secondary-background-color);
}
